{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
	{% for i in range(num) %}
  <div class="col">
    <div class="card text-center">
    	<div class="card-header">
    		<h5 class="card-title">{{df.iloc[i]["room_name"]}}</h5>
    	</div>
      <div class="card-body">
        <p class="card-text">{{df.iloc[i]["avg_temp"]}}</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated {{df.iloc[i]["last_updated"]}} hours ago</small>
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}